/vendor
composer.phar
composer.lock
.DS_Store
commit.bat
/src/views/*
/_ide_helper.php
/.idea
/lara5
/play.php
/_includes
/laravel
/tasks
/theme
build/api
build/code-browser
build/coverage
build/logs
build/pdepend
build/phpdox
cache.properties
.idea
/test.php
/test.md
/docs
/psysh.phar
/app
/.project
/cache.properties
