language: php

sudo: false

php:
    - 5.5
    - 5.6
    - hhvm

before_script:
    - composer self-update
    - composer install --prefer-source --no-interaction

script: phpunit -c phpunit.xml --coverage-clover=coverage.clover

after_script:
    - wget https://scrutinizer-ci.com/ocular.phar
    - php ocular.phar code-coverage:upload --format=php-clover coverage.clover


