<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ Copyright (c) 2017. Robin Radic.
  ~
  ~ The license can be found in the package and online at https://radic.mit-license.org.
  ~
  ~ @copyright Copyright 2017 (c) Robin Radic
  ~ @license https://radic.mit-license.org The MIT License
  -->

<phpunit backupGlobals="false"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/5.0/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         verbose="true"
         timeoutForSmallTests="30"
         timeoutForMediumTests="50"
         timeoutForLargeTests="60"
>
    <testsuites>
        <testsuite name="Blade Extensions">
            <directory suffix="Test.php">tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>
    <env name="APP_ENV" value="testing"/>
    <env name="CACHE_DRIVER" value="array"/>
    <env name="SESSION_DRIVER" value="array"/>
    <env name="QUEUE_DRIVER" value="sync"/>


</phpunit>

